#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	dh_install
	rm -f $(CURDIR)/debian/puppet-jiocloud/etc/puppet/hiera/hiera.yaml

refresh_modules:
	rm -rf modules
	librarian-puppet install

override_dh_auto_clean:
	dh_auto_clean
