# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary physical interface
auto <%= @ctlplane_physical_interface %>
iface <%= @ctlplane_physical_interface %> inet manual
    up ifconfig $IFACE 0.0.0.0 up

auto br-ctlplane
iface br-ctlplane inet static
    address <%= @ctlplane_address %>
    netmask <%= @ctlplane_netmask %>
    network <%= @ctlplane_network %>
    broadcast <%= @ctlplane_broadcast %>
    gateway <%= @ctlplane_gateway %>
    # dns-* options are implemented by the resolvconf package, if installed
    dns-nameservers <%= @ctlplane_nameservers %>
    dns-search <%= @ctlplane_domain %>
    up iptables -t nat -A PREROUTING -d 169.254.169.254/32 -i $IFACE -p tcp -m tcp --dport 80 -j DNAT --to-destination <%= @ctlplane_address %>:8775
    down iptables -t nat -D PREROUTING -d 169.254.169.254/32 -i $IFACE -p tcp -m tcp --dport 80 -j DNAT --to-destination <%= @ctlplane_address %>:8775

source-directory interfaces.d
